<!-- 정보팀담당자 -->
{%extends 'base.html'%}
{% block content %}


{% include 'search_button.html'%}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}"> 


<div class="table-container">
<table class="table table-striped table-bordered mt-3 fixed-width-table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">수집시간</th>
        <th scope="col">핫스팟 코드명</th>
        <th scope="col">핫스팟 장소명</th>
        <th scope="col">날씨 데이터 업데이트 시간</th>
        <th scope="col">기온</th>
        <th scope="col">체감온도</th>
        <th scope="col">일 최고온도</th>
        <th scope="col">일 최저온도</th>
        <th scope="col">습도</th>
        <th scope="col">풍향</th>
        <th scope="col">풍속</th>
        <th scope="col">강수량</th>
        <th scope="col">강수형태</th>
        <th scope="col">강수관련 메세지</th>
        <th scope="col">일출시각</th>
        <th scope="col">일몰시각</th>
        <th scope="col">자외선지수 단계</th>
        <th scope="col">자외선지수</th>
        <th scope="col">자외선메세지</th>
        <th scope="col">초미세먼지지표</th>
        <th scope="col">초미세먼지농도</th>
        <th scope="col">미세먼지지표</th>
        <th scope="col">미세먼지농도</th>
        <th scope="col">통합대기환경등급</th>
        <th scope="col">통합대기환경지수</th>
        <th scope="col">통합대기환경지수 결정물질</th>
        <th scope="col">통합대기환경등급별 메세지</th>



    </tr>
    </thead>
    <tbody>
        {% for item in key %}
        <tr>
            <td>{{item.id }}</td>
            <td>{{item.file_id}}</td>
            <td>{{item.AREA_CD}}</td>
            <td>{{item.AREA_NM}}</td>
            <td>{{item.WEATHER_TIME}}</td>
            <td>{{item.TEMP}}</td>
            <td>{{item.SENSIBLE_TEMP}}</td>
            <td>{{item.MAX_TEMP}}</td>
            <td>{{item.MIN_TEMP}}</td>
            <td>{{item.HUMIDITY}}</td>
            <td>{{item.WIND_DIRCT}}</td>
            <td>{{item.WIND_SPD}}</td>
            <td>{{item.PRECIPITATION}}</td>
            <td>{{item.PRECPT_TYPE}}</td>
            <td>{{item.PCP_MSG}}</td>
            <td>{{item.SUNRISE}}</td>
            <td>{{item.SUNSET}}</td>
            <td>{{item.UV_INDEX_LVL}}</td>
            <td>{{item.UV_INDEX}}</td>
            <td>{{item.UV_MSG}}</td>
            <td>{{item.PM25_INDEX}}</td>
            <td>{{item.PM25}}</td>
            <td>{{item.PM10_INDEX}}</td>
            <td>{{item.PM10}}</td>
            <td>{{item.AIR_IDX}}</td>
            <td>{{item.AIR_IDX_MVL}}</td>
            <td>{{item.AIR_IDX_MAIN}}</td>
            <td>{{item.AIR_MSG}}</td>
            
        </tr>
        {%endfor%}

    </tbody>
</table>
</div>


<!-- 페이지스크롤 -->
{% if is_paginated %}
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">처음</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% elif num > page_obj.number|add:"-5" and num < page_obj.number|add:"5" %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">마지막</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}

{% endblock content%}